* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.my-container {
    height: 100vh;
    padding: 75px 0;

    .my-form {
        display: flex;
        flex-direction: row-reverse;
        width: 850px;
        height: 100%;
        align-items: center;
        margin: 0 auto;
        box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.24);
        border-radius: 20px;

        .first {
            padding: 20px;

            .text {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-weight: 300;
                }
            }

            form {
                padding: 30px 0;

                .from-group {
                    label {
                        margin: 10px 0;
                    }

                    input {
                        width: 100%;
                        padding: 10px 20px;
                        border-radius: 25px;
                        border: none;
                        background: #99999936;
                        outline: 2px solid transparent;
                        transition: all .3s;
                        
                        &::placeholder {
                            color: #999999bd;
                        }
                        &:focus{
                            outline: 2px solid #6449ffa1;
                            transition: all .3s;
                        }
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                           -webkit-appearance: none;
                            margin: 0;
                    }
             



                    // button {
                    //     font-weight: 600;
                    //     color: #fff;
                    //     border: 1px solid transparent;
                    //     border-radius: 25px;
                    //     padding: 10px 30px;
                    //     margin: 15px 0;
                    //     width: 100%;
                    //     background: linear-gradient(151deg, rgba(206, 27, 255, 1) 0%, rgba(61, 46, 146, 1) 85%);
                    //     transition: all .3s ease;
                    //     &:hover{
                    //         background: linear-gradient(322deg, rgba(206,27,255,1) 0%, rgba(61,46,146,1) 85%);
                    //         transition: all .3s ease;
                    //     }
                    // }
                    .my-btn {
                        text-decoration: none;
                        width: 100%;
                        font-size: 16px;
                        font-weight: 600;
                        color: #fff;
                        cursor: pointer;
                        margin: 15px 0;
                        padding: 10px 30px;
                        text-align: center;
                        border: none;
                        background-size: 300% 100%;
                        border-radius: 50px;
                        transition: all .3s;
                        background-image: linear-gradient(to right, #ce1bff, #3d2e92, #3d2e92, #ce1bff);

                        &:hover {
                            background-position: 100% 0; 
                        }
                        &:active {
                            background-image: linear-gradient(to left, #a071ad, #8c83bd, #8174cb, #b38fbd);
                            background-position: 0 100%;
                        }
                    }

                }

                .from-personal {
                    width: 48%;
                    display: inline-block;
                    margin-left: 4px;

                    label {
                        margin: 10px 0;
                    }

                    input {
                        width: 100%;
                        padding: 10px 20px;
                        border-radius: 25px;
                        border: none;
                        background: #99999936;
                        outline: 2px solid transparent;
                        transition: all .3s;

                        &::placeholder {
                            color: #999999bd;
                        }
                        &:focus{
                            outline: 2px solid #6449ffa1;
                            transition: all .3s;
                        }
                    }
                }

                .fpassword {
                    text-align: center;

                    a {
                        color: #999999;
                        text-decoration: none;

                        &:hover {
                            color: #2600ff;
                            transition: all .4s ease-in-out;
                        }

                        &:active {
                            color: #3d2e92;
                            transition: all .4s ease-in-out;
                        }
                    }
                }
            }
        }

        .second {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 15px;
            align-items: center;
            justify-content: center;
            background: linear-gradient(151deg, rgba(206, 27, 255, 1) 0%, rgba(61, 46, 146, 1) 85%);
            color: #fff;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;

            p {
                padding: 15px 0;
            }

            a {
                color: #fff;
                text-decoration: none;
                padding: 10px 25px;
                border: 1px solid #fff;
                border-radius: 25px;
                transition: all .3s;
                font-weight: 600;

                &:hover {
                    color: #3d2e92;
                    background-color: #fff;
                    transition: all .3s;
                }

                &:active {
                    background-color: #bbbbbb;
                    border: 1px solid #bbbbbb;
                    color: #2600ff;
                    transition: all .3s;
                }

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .my-container {
        height: 100%;
        padding: 20px 0;

        .my-form {
            height: 35%;
            width: 85%;

            .second {
                padding: 40px 0;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .first {
                form {
                    .from-personal {
                        width: 100%;
                        margin: 0;
                    }
                }

            }
        }
    }
}