* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.my-container {
  height: 100vh;
  padding-top: 150px;
}
.my-container .my-form {
  display: flex;
  flex-direction: row-reverse;
  width: 750px;
  height: 450px;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
}
.my-container .my-form .first {
  padding: 20px;
}
.my-container .my-form .first .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-container .my-form .first .text h1 {
  font-weight: 300;
}
.my-container .my-form .first form {
  padding: 30px 0;
}
.my-container .my-form .first form .from-group label {
  margin: 10px 0;
}
.my-container .my-form .first form .from-group input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: rgba(153, 153, 153, 0.2117647059);
  outline: 2px solid transparent;
  transition: all 0.3s;
}
.my-container .my-form .first form .from-group input::-moz-placeholder {
  color: rgba(153, 153, 153, 0.7411764706);
}
.my-container .my-form .first form .from-group input::placeholder {
  color: rgba(153, 153, 153, 0.7411764706);
}
.my-container .my-form .first form .from-group input:focus {
  outline: 2px solid rgba(100, 73, 255, 0.631372549);
  transition: all 0.3s;
}
.my-container .my-form .first form .from-group .my-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 30px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(to right, #ce1bff, #3d2e92, #3d2e92, #ce1bff);
}
.my-container .my-form .first form .from-group .my-btn:hover {
  background-position: 100% 0;
}
.my-container .my-form .first form .from-group .my-btn:active {
  background-image: linear-gradient(to left, #a071ad, #8c83bd, #8174cb, #b38fbd);
  background-position: 0 100%;
}
.my-container .my-form .first form .fpassword {
  text-align: center;
}
.my-container .my-form .first form .fpassword a {
  color: #999999;
  text-decoration: none;
}
.my-container .my-form .first form .fpassword a:hover {
  color: #2600ff;
  transition: all 0.4s ease-in-out;
}
.my-container .my-form .first form .fpassword a:active {
  color: #3d2e92;
  transition: all 0.4s ease-in-out;
}
.my-container .my-form .second {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(151deg, rgb(206, 27, 255) 0%, rgb(61, 46, 146) 85%);
  color: #fff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.my-container .my-form .second p {
  padding: 15px 0;
}
.my-container .my-form .second a {
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 25px;
  transition: all 0.3s;
  font-weight: 600;
}
.my-container .my-form .second a:hover {
  color: #3d2e92;
  background-color: #fff;
  transition: all 0.3s;
}
.my-container .my-form .second a:active {
  background-color: #bbbbbb;
  border: 1px solid #bbbbbb;
  color: #2600ff;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .my-container {
    height: 100%;
    padding: 20px 0;
  }
  .my-container .my-form {
    height: 35%;
    width: 85%;
  }
  .my-container .my-form .second {
    padding: 40px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}/*# sourceMappingURL=login.css.map */